<footer class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
    <h6 class="navbar-text">© 2022 Nate Coolidge</h6>
    <h6 class="navbar-text">If facing issues, contact administrator at <a href="mailto:nate@coolidges.ca">nate@coolidges.ca</a></h6>
    </div>
</footer>
<script src = "/Scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>
