<!--
/*Nate Coolidge - 100749708*/ 
/*Jaime Gonzalez Sanz - 100839804*/ 
/*Caleb Fontaine - 100832588 */
/*Saief Shams Murad - 100836639 */
/*Haekang Song -100625189 */
-->

<footer class="navbar navbar-dark fixed-bottom bg-custom-2">
    <div class="container-fluid">
    <h6 class="navbar-text">© 2022 INC0GN1T0</h6>
    <h6 class="navbar-text">If facing issues, contact <a href="mailto:nate@coolidges.ca">Administrator</a></h6>
    </div>
</footer>
<script src = "/Scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
				easing: 'ease-out-back',
				duration: 1000
			}); //Runs the Animation On Scroll script from AOS package
</script>
</body>
</html>
