<!-- This is the ejs for the Login Page-->
<%- include header.ejs %> <!-- including both the header and the nav on the page-->
<%- include main_nav.ejs %>
    <form>
        <p> 
            <label for="username">Username</label> 
            <input id="username" type="text" name="username" placeholder="Enter your username here"> <!-- Box for the username input-->
        </p>  
        <p> 
            <label for="password">Password</label> 
            <input id="password" name="password" type="text" placeholder="Enter you password here"> <!--Box for the password input-->
        </p>
        <p><input id="Login" type="submit" value="Click here to Login"></p> <!-- submit button for the login-->
    </form> 

<%- include footer.ejs %><!-- including the footer on the page-->