
<body>
    <form>
        <p> 
            <label for="username">Username</label> 
            <input id="username" type="text" name="username" placeholder="Enter your username here"> 
        </p>  
        <p> 
            <label for="password">Password</label> 
            <input id="password" name="password" type="text" placeholder="Enter you password here"> 
        </p>
        <p><input id="Login" type="submit" value="Click here to Login"></p>
    </form> 
</body>