<!-- This is the ejs for the registration page-->
<!--
/*Nate Coolidge - 100749708*/ 
/*Jaime Gonzalez Sanz - 100839804*/ 
/*Caleb Fontaine - 100832588 */
/*Saief Shams Murad - 100836639 */
/*Haekang Song -100625189 */
-->
<!-- This is the Register Page-->
<%- include header.ejs %><!-- including both the header and the nav on the page-->
<%- include main_nav.ejs %>
    <form>
        <p> 
            <label for="username">Username</label> 
            <input id="username" type="text" name="username" placeholder="Enter your username here"> <!-- Box for the username input-->
        </p>  
        <p> 
            <label for="password">Password</label> 
            <input id="password" name="password" type="text" placeholder="Enter you password here"> <!-- Box for the password input-->
        </p>
        <p> 
            <label for="passwordconf">Password Confirmation</label> 
            <input id="passwordconf" name="passwordconf" type="text" placeholder="Confirm your password here"> <!-- Box for the password confirmation input-->
        </p>
        <p> 
            <label for="email">Email</label> 
            <input id="email" name="email" type="email" placeholder="Enter you email here"> <!-- Box for the email input-->
        </p> 
        <p>
            <label for="date">Date of Birth</label>
            <input id="date" name="date" type="date" placeholder="Enter your date of birth"><!-- Box for the date of birth input-->
        </p>
        <p><input id="create" type="submit" value="Click here to create your account"></p><!-- submit button for the registration-->
    </form> 

<%- include footer.ejs %><!-- including the footer on the page-->