
<body>
    <form>
        <p> 
            <label for="username">Username</label> 
            <input id="username" type="text" name="username" placeholder="Enter your username here"> 
        </p>  
        <p> 
            <label for="password">Password</label> 
            <input id="password" name="password" type="text" placeholder="Enter you password here"> 
        </p>
        <p> 
            <label for="passwordconf">Password Confirmation</label> 
            <input id="passwordconf" name="passwordconf" type="text" placeholder="Confirm your password here"> 
        </p>
        <p> 
            <label for="email">Email</label> 
            <input id="email" name="email" type="email" placeholder="Enter you email here"> 
        </p> 
        <p>
            <label for="date">Date of Birth</label>
            <input id="date" name="date" type="date" placeholder="Enter your date of birth">
        </p>
        <p><input id="create" type="submit" value="Click here to create your account"></p>
    </form> 
</body>