<%- include ./../partials/main_nav.ejs %>
<!--Nate Coolidge - 100749708-->
<main class="container">
    <table class="table table-primary table-hover">
        <thead class="table-borderless"> 
            <tr>
                <th class="col-2" colspan="2"><img class="post_pfp" src="/Assets/images/rick.webp">Richard Astley</th> 
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="col-2">post title</th> 
                <th class="col-2">date created</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr>
                <td colspan="2">This is a post that i am writing tonight</td> 
            </tr>
        </tbody>
    </table>

</main>
<%- include ./../partials/footer.ejs %>