<%- include ./../partials/main_nav.ejs %>
<!--Nate Coolidge - 100749708-->
<main class="container">
    <table class="table table-dark table-hover">
        <thead class="table-borderless"> 
            <tr>
                <th class="col-2">pfp</th> 
                <th class="col-2">display name</th>
                <th class="col-2">date created</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="col-6">post title</th> 
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="col-6">post </th> 
            </tr>
        </thead>
    </table>

</main>
<%- include ./../partials/footer.ejs %>