@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;900&display=swap');

/*Nate Coolidge - 100749708*/ 
/*Jaime Gonzalez Sanz - 100839804*/ 
/*Caleb Fontaine - 100832588 */
/*Saief Shams Murad - 100836639 */
/*Haekang Song -100625189 */
body 
{ 
    font-family: 'Krub', sans-serif;
    background-repeat: no-repeat;
    background: url("/Assets/images/PSX_20221129_215017.jpg") no-repeat center center fixed;
    background-size : cover;
    margin: 0;
    padding-top:90px;
    padding-bottom: 120px;
}

footer
{
    float: left;
}

nav
{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    color: azure;
}


.container h1
{
    font-family: 'Krub', sans-serif;
    font-weight: 900;
    color: orangered;
}

.container h3
{
    font-family: 'Krub', sans-serif;
    font-weight: 900;
}

.container h4
{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
    animation: slide 1s ease-out;
}
@keyframes slide {
    from{
        left: -400px;
        opacity: 0;
    }
    to{
        left: 0.3%;
        opacity: 1;
    }
}



.navimg
{
    width: 50px;
    padding-right: 10px;
}


/*this is for home page*/
.wrapper {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
  }

  .container {
    width: 100%;
    text-align: center;
    font-size: 200%;
    font-family: 'Krub', sans-serif;
  }

  .container iframe {
    margin-top: 40px;
  }

/*Home button - SAM
.home_btn {
    font-size: 22px;
    padding: 15px 2px;
    border: 3px solid orangered;
    border-radius: 30px;
    background-color: transparent;
    color: orangered;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    position: relative; 
    transition: all 0.25s;
    overflow: hidden;
    text-decoration-line: none;
    max-width: 337px;
    width: 100%;
}
.btn_home
{
    overflow: hidden;
    max-width: 650px ;
    margin-left: auto;
    padding: 10px 0;
}

/*does not show outline when mouse click  
.home_btn:focus {
    outline: none;
}

/*make fake button to make it more cool
.home_btn::before {
    content: "";
    position: absolute; /*can change the size
    height: 100%;
    width: 100%;
    background-color: orangered;
    top: 0;
    left: -100%;
    transition: all 0.25s;
    z-index: -1; /*To show the text
    visibility: hidden;
    border-radius: 30px;
}

.home_btn:hover::before {
    transform: translateX(100%);
    visibility: visible;
}

.home_btn:hover {
    color: white;
}
*/
.home_btn {
    position: relative;
    background-color: orangered;
    border: 2px;
    border-radius: 25px;
    font-size: 24px;
    color: white;
    padding: 10px;
    width: 310px;
    text-align: center;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  
.home_btn:after {
    content: "";
    background: rgb(2, 0, 38);
    display: block;
    position: absolute;
    padding-top: 200%;
    padding-left: 250%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.6s
}
  
.home_btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.btn_home {
    justify-content: center;
}
/*this is for home page*/

.post_image
{
    height: 600px;
    width: auto;
    max-width: 768px;
    object-fit: contain;
    display: inline-block;
}

.clear
{
    clear: both;
}

.bg-custom
{
    background-image: linear-gradient(90deg, rgb(5, 40, 84) 55%, rgb(209, 66, 5) 100%);
}
.bg-custom-2
{
    background-color: rgb(0, 20, 44);
}

.post_pfp
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.username
{
    font-size: 24px;
    font-weight: 600;

}
.post_date
{
    font-size: 18px;
    font-weight: 100;
}
.post_title
{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Krub', sans-serif;
}
.text-start
{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Krub', sans-serif;
    word-wrap: break-word; 
}
tbody
{
    max-width: 120ch;
}
.profile_bio
{
    font-size: 20px;
    font-weight: 200;
    font-family: 'Krub', sans-serif;
}
form
{
    position: relative;
}
.btn:hover
{
    transform: scale(1.1);
}
form label
{
    font-size: 24px;
    color: rgb(231, 77, 0);
    text-align: left;
}

 #count_time
{
    color: white;
}

.error
{
    color: white;
}