@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;900&display=swap');

/*Nate Coolidge - 100749708*/ 
/*Jaime Gonzalez Sanz - 100839804*/ 
/*Caleb Fontaine - 100832588 */
/*Saief Shams Murad - 100836639 */
/*Haekang Song -100625189 */
body 
{ 
    font-family: 'Lexend', sans-serif;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    min-height: 100vh;/*forces body to fill entire page no matter screen size*/
    margin: 0;
    padding-top:90px;
    padding-bottom: 120px;
}

footer
{
    float: left;
}


nav
{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    color: azure;
}


.container h1
{
    font-family: 'Lexend', sans-serif;
    font-weight: 900;
}

.container h3
{
    font-family: 'Lexend', sans-serif;
    font-weight: 900;
}


.navimg
{
    width: 50px;
    padding-right: 10px;
}


/*this is for home page*/
.wrapper {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
  }

  .container {
    width: 100%;
    text-align: center;
    font-size: 200%;
  }

  .container iframe {
    margin-top: 40px;
  }

/*set the button color and size*/
.btn {
    font-size: 25px;
    padding: 15px 30px;
    border: 3px solid darkcyan;
    background-color: transparent;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    position: relative; /*put fake btn*/
    transition: all 0.3s;
    overflow: hidden
    
}

/*does not show outline when mouse click  */
.btn:focus {
    outline: none;
}

/*make fake button to make it more cool*/
.btn::before {
    content: "";
    position: absolute; /*can change the size*/
    height: 100%;
    width: 100%;
    background-color: darkcyan;
    top: 0;
    left: -100%;
    transition: all 0.5s;
    z-index: -1; /*To show the text*/
}

.btn:hover::before {
    transform: translateX(100%);
}

.btn:hover {
    color: whitesmoke;
}
/*this is for home page*/



.clear
{
    clear: both;
}

.bg-custom
{
    background-image: linear-gradient(90deg, rgb(5, 40, 84) 55%, rgb(209, 66, 5) 100%);
}
.bg-custom-2
{
    background-color: rgb(0, 20, 44);
}

.post_pfp
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.post_date
{
    font-size: 18px;
    font-weight: 100;
}
form
{
    position: relative;
}
.btn:hover
{
    transform: scale(1.1);
}
form label
{
    font-size: 24px;
    color: rgb(231, 77, 0);
    text-align: left;
}