<%- include ./../partials/main_nav.ejs  %>

<main class="container">
        <!--Message Area-->
    <% if (message.lenth > 0) { %>
    <div class=" "alert alter-danger>
        <%= message %>
    </div>
    <% } %>

    <div class ="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please login</h1>
            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control"
                    name="username"
                    placeholder="Enter username"
                    id ="username" required autofocus>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control"
                    name="password"
                    placeholder="Enter password"
                    id ="password" required>
                </fieldset>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                
                    <a href="/">
                    <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                    <br>
                    <a href="/register"><input type="button" class="btn btn-primary" value="Create New Account"></a>
                    <br>
                    
                    <a href="/auth/facebook" class="btn btn-primary"><i class="fa-brands fa-facebook-f"></i>  Login with Facebook</a>
                    
                    <a href="/auth/google" class="btn btn-danger"><i class="fa-brands fa-google"></i>  Login with Google</a>
                    
                    <a href="/auth/github" class="btn btn-dark"><i class="fa-brands fa-github"></i>  Login with GitHub</a>
            </fieldset>
            </form>
        </div>
    </div>
            
</main>
<%- include ./../partials/footer.ejs %>